
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    font-family:Georgia, 'Times New Roman', Times, serif;
  
    
}
a{
    text-decoration: none;
}

::selection{
    background-color:  black;
   
    color: aliceblue;
}
nav{
    width: 100%;
    height: 12vh;
   
    /* box-shadow: 1px 1px 6px  rgb(12, 12, 12) ; */
    background-color: transparent;
   
    border-radius: 0px 0px 10px 10px;

    
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
   
  
}
.tools>p>a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000000;
}
.nav_tools>p>a{
    color: #020202;
    font-family: 'Times New Roman', Times, serif;
}
.name{
    width: 30%;
    height: 50px;
    font-size: 1.4rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    
    
    margin: 0px 0px 0px 100px;
     
   
}
.name>a{
   font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ff0000;
}
.tools{
    width: 40%;
    height: 100px;
    display: flex;
    margin: 0px 0px 0px 200px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: rgb(255, 255, 255);
    transition: all 2s ease-out;
    cursor: pointer;
   
   
    
}


.tools p{
    position: relative;
}
 p>a:hover{
    
    transform: scale(1.2)
  
}
.tools p::before{
    display: none;
    content: " ";
    width: 100%;
    height: 3px;
    bottom: -10px;
    position: absolute;
    border-radius: 10px;
    background-color:rgb(254, 0, 0);
   
}

.tools p:hover::before{
    animation-name: wave;
    animation-duration: 2s;
    animation-fill-mode:forwards;
    display: block;
}
.nav_tools{
    position: absolute;
    top: -300px;
}
.main{
    width: 100%;
    height:100vh ;

    position: absolute;
    top: 0px;
    left: 0px;
    
    background-image: url(./this-shot-swfc-2nd-tallest-building-shanghai.jpg);
    background-size:cover;
    background-position:top;
    background-repeat: no-repeat;
    z-index: 10;

    display: flex;
   
    justify-content:center;
    align-items:center;
    

    
    
    font-size: 1.2rem;
    color:#ffffff;

    padding: 20px;

     overflow-x:hidden;
    
}

.main>h1{
    animation:header 2s ease-in-out;
    position: absolute;
    animation-fill-mode: forwards;
    font-size: 1.3rem;
    color: #000000;
 
   
}
.main>h1>span{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#ff0400;
    font-weight: bolder;
   
}
@keyframes header {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    
    }
}
.about{
   
    width: 100%;
    height: 350vh;
    position: absolute;
    top: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    gap: 100px;
    padding: 50px;
    font-size: 1.2rem;
    
}
.matter{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 0px;
    
}
.company{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50vh;
    gap: 10px;
}
.company_image{
    width: 30%;
    height: 50vh;
    background-image:url(./be63cc7c-cbfb-4423-8777-712a70c5947b.jpg);
    background-size: cover;
    border-radius: 20px;
    transition: all .2s ease-out;
    font-family: "Dancing Script", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.company_image>h1{
    display: none;
}
.company_details{
    width: 70%;
    height: 50vh;
    border-radius: 20px;
    background-color: #f8f9fa;
    padding: 20px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .2s ease-out;
}
.company_details>p{
    margin: 0px 0px 0px 0px;
    font-size: 1rem;
}
.company_details>.location{
    width: 15%;
    height: 35px;
    margin: 0px 0px 0px 80%;
    font-size: 1.3rem;
    background-color: #000000;
   
    padding: 2px;
    text-align: center;
    border-radius: 5px;
    transition: all .2s ease-out;
}
.company_details>.location>a{
    color: #ffffff;
    
}
.company_details>.location:hover{
    transform: scale(.95);
    
     
}

.company_details:hover,.company_image:hover{
     transform: translate(0px,-10px);
    box-shadow: 2px 2px 10px  rgb(168, 166, 166);
    
}
.company_image:hover>h1{
    display: block;
}
#check,.open,.close{
    display: none;
}
.service{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80vh;
}
.service_title{
    text-align: center;
    flex-direction: column;
    gap: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.service_images{
    display: flex;
    
    justify-content: space-around;
}
.service_card{
    width: 30%;
    height: 50vh;
    border: 1px solid black;
    background-color: #efeded;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    border-radius: 10px;
}
.service_card>i{
    font-size: 2rem;
    color: #ff0000;
}
.arch{
    text-align: justify;
   
}
.we{
    width: 100%;
    height: 60vh;
    gap: 30px;
    display: flex;
    flex-direction: column;
     justify-content: space-around;
    /* background-color: #1282a2; */
}
.we>.matter{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    /* background-color: #efeded; */
}
.we>.we_cards{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   /* background-color: #ff0000; */
     
   
}
.we>.matter{
    width: 100%;
    height: 10vh;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.we_cards>.we_1{
    width: 25%;
    height: 40vh;
    background-color: #f7f6f6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
     text-align: justify;
    border-radius: 10px;
    transition: all .5s ease-in;
     box-shadow: 1px 3px 10px  rgb(0, 0, 0);
    
    
}
.we_cards>.we_1:hover{
    transform: translate(0px ,-20px);
   
    
}
.we_1>h3{color: #ff0000;}
.we_1>p{
    font-size: 1rem;
}
.projects{
    width: 100%;
    height: 340vh;
    background-color: #ffffff;
    position: absolute;
    top: 350vh;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    font-size: 1.2rem;
    /* background-color: #060606; */
    
   
}
.project_title{
    width: 100%;
    gap: 10px;
    padding: 30px;
    margin: 50px 0px 0px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.cards{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 280vh;
    
    justify-content:flex-start;
    align-items: center;

    padding: 50px;
    position: relative;
}
.card{
    width: 32%;
    height: 80vh;
    background-color: #ffffff;
   
    box-shadow: 2px 2px 5px grey;
    transition: all .76s ease-in-out;
    animation: card 2s ease-in-out;
    animation-timeline: view(); 
    animation-range: entry 0% cover 50%;
    text-align: center;
    border-radius: 10px;
}
@keyframes card {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.card1{
    position: absolute;
    left:10%;
    top:2vh;
    margin: 50px 0px 0px 0px;
}
.card2{
    position: absolute;
    right:10%;
    top:72vh;
}
.card3{
    position: absolute;
   top:130vh;
    left:10%;
}
.card4{
    position: absolute;
    top:200vh;
    right:10%;
}
.card>h3{
      position: absolute;
      top: 20vh;
      display: none;
      color: rgb(255, 255, 255);
      text-shadow: 1px 2px  black;
      z-index: 100;
}
.card1>h3{
    left: 36%;
}
.card2>h3{
    left: 36%;
}
.card3>h3{
    left: 38%;
}
.card4>h3{
    left: 38%;
}
.card>.matter{
    width: 100%;
    height: 36vh;
    display: none;
    padding: 10px;
    z-index: -1;
    display: flex;
    align-items: center;
    position: absolute;
    top:0px;
    left: 0px;
    text-align: center;
    color: #f8f9fa;
    border-radius: 0px 10px 10px 0px;
    
}
.card>img{
    height: 100%;
    transition: all 1s ease-in-out;
    z-index: 3;
    border-radius: 10px 10px 10px 10px;
    
}
.card:hover>img{
   height: 65%;
  
   border-radius: 10px 10px 0px 0px;
    

}
.card:hover>.matter{
    display: block;
    top: 35vh;
    color: #000000;

    
  
    display: flex;
    justify-content: center;
    align-items: center;
}
.card:hover{
    transform:translate(1px,0px);
     height: 70vh;
     background-position: center;
     
    
}
.card:hover>h3{
      display: block;
}
.explore{
    width: 200px;
    height: 50px;
    padding: 10px;
    border:1px solid  #000000;
    text-align: center;
    border-radius: 10px;
    background-color: #ff0000;
     color: #f7f6f6;
     transition: all 1s ease-in-out;
     transform: scale(1);
}
.explore:active{
    transform: scale(.65);
}
.team{
    width: 100%;
    height: 190vh;
    position: absolute;
    top: 690vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
   
}
.meet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.see{
    width: 150px;
    padding: 10px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ff0000;
     color: #f7f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 0px 0px;
    display: none;
}

.photo_section{
    text-align: center;
    padding: 0px 0px 0px 50px;
    display: grid;
    grid-template-columns: repeat(3,30%);
    grid-template-rows: repeat(2,70vh);
    height: 130vh;
    width: 100%;
    gap: 20px;
}
.photo{
    
    background-color: #efeded;
    border-radius: 20px;
    padding: 10px;
    background-size: cover;
    background-position: center;
    animation: photoanime 2s ease-in-out;
    box-shadow:1px 1px 10px gray;
    animation-timeline: view(); 
    animation-range: entry 0% cover 50%;
    position: relative;
    animation-fill-mode: forwards;
    
    
    
}
.photo1{
     background-image: url(https://i0.wp.com/www.davd.photo/wp-content/uploads/2015/07/business-headshot-downtown.jpg?ssl=1);
    
}
.photo2{
     background-image: url(https://i.pinimg.com/736x/a7/37/55/a737558593e8fda0d047d22d1fb1d710.jpg);
}
.photo3{
    background-image: url(https://www.profilebakery.com/wp-content/uploads/2023/04/ai-headshot-7.jpg);
}
.photo4{
    background-image: url(https://static.vecteezy.com/system/resources/previews/007/662/117/non_2x/of-handsome-male-office-worker-dressed-in-formal-clothes-keeps-one-hand-in-pocket-other-on-table-looks-confidently-at-camera-poses-in-office-people-business-and-lifestyle-concept-free-photo.jpg);
}
.photo5{
    background-image: url(https://www.workitdaily.com/media-library/professional-woman-is-an-indispensable-employee-at-work.jpg?id=22898478&width=1200&height=800&quality=85&coordinates=0%2C0%2C0%2C0);
   
}
.photo6{
    background-image: url(https://cdn.prod.website-files.com/5fbb9b89508062592a9731b1/6448c1ce35d6ffe59e4d6f46_GettyImages-1399565382.jpg);
   
}
.photo>.icons{
       padding: 10px;
       display: none;
       position: absolute;
       left: 85%;
       font-size: 20px; 
       z-index: 10000;
       

}
.photo>.babu{
    width: 100%;
    height: 100px;
    padding: 10px;
    background-color:white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    bottom: 0px;
    left: 0px;
    display: none;
    border-radius: 0px 0px 20px 20px;
     
}
.babu>h5{
    font-size: 1rem;
}
.photo>p{
    font-size: .80rem;
}

.photo:hover>.babu{
    animation: text .4s ease-in-out;
    display: block;
    

}
.photo:hover>.icons{
     display: flex;
     flex-direction: column;
     gap: 7px;
     color:black;
     

}
.insta:hover,.x:hover,.w:hover,.in:hover{
    color: #080f0f;
}
.contact{
    width: 100%;
    height: 70vh;
    position: absolute;
    top:900vh;
    left: 0px;
    /* background-color: #1282a2; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.4rem;
    color: #000000;
    padding: 10px 4px 0px 4px;
}
.inputs{
    width: 100%;
    height: 50vh;
    padding: 20px;
    text-align: center;
    display: flex;
    padding: 20px;
   
}
.text_block{
    width: 50%;
    padding: 20px;
    /* background-color: #080f0f; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.text{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #efeded; */
    text-align: center;
    /* color: #080f0f; */
    
   
}
.text>input{
    height: 70%;
    width: 60%;
    padding: 10px;
    border-radius: 10px;
     border-style: none;
   color: #f7f6f6;
    background-color: #080f0f;
}
.email{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}
.email>input{
     height: 70%;
    width: 60%;
    padding: 10px;
    border-radius: 10px;
     border-style: none;
     background-color: #080f0f;
    color: #f7f6f6;
       
}
.text_area{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 40px;

}
.text_area>textarea{
    width: 60%;
    height: 80%;
    padding: 10px;
    border-radius: 10px;
     border-style: none;
    background-color: #080f0f;
    color: #f7f6f6;
       
}
input[type="submit"]{
    width: 20%;
     background-color:#ff0000;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    transform: scale(1);
    transition: all .4s ease-in-out;
      box-shadow: 1px 1px 2px;
      font-size: 1rem;
}
input[type="submit"]:active{
    transform: scale(.95);
   
}
.online{
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.online_icons{
    width: 40%;
    display: flex;
    font-size: 25px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    /* background-color: #efeded; */
}
.online_icons>i:hover{
    color: #ff0000;
}
.thank{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    animation: card 2s ease-in-out;
    animation-timeline: view(); 
    animation-range: entry 0% ;
}
@keyframes text {
    0%{
        transform: translate(0px,4px);
        opacity: 0;
    }
    100%{
        transform: translate(0px,0px);
        opacity: 1;
    }
    
}


@keyframes explore {
    0%{
        top: 100vh;
    }
    100%{
        top: 49vh;
    }
}
@keyframes wave {
     0%{
        left: 0px;
        width: 100%;
     }
    100%{
        left: 100%;
        width: 0px;
    }
}
@keyframes photoanime {
    0%{
        transform: translate(-50px,0px);
    }
    100%{
        transform: translate(10px,0px);
    }
}

@media  screen and (max-width:1023px) 
{  
    
    .open>i{
        cursor: pointer;
        position: fixed;
        top: 30px;
        right: 20px;
        z-index: 1000;
      
    }
    nav{
        
        justify-content: flex-start;
    }
    .tools{
        display: none;
    }
     
    .name{
       margin: 0px 0px 0px 25px;
       text-align: left;
       color:#ff0000;
       
       
    }
    
    .open{
        display: block;
        position: absolute;
        top: 30px;
        right: 7%;
        z-index: 50;
        
    }
    .open>i{
         z-index: 50;
         font-size: 20px;
         color:#ff0000;
    }
    .nav_tools{
            width: 100%;
            height: 28vh;
            position: absolute; 
            top: -50vh;
            right:0px;
            background-color: transparent;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content:flex-start;
            align-items: center;
            gap: 10px;
            padding: 20px 0px 20px 0px;
            transition: all .50s ease-out;
            z-index: 20;
            border-radius: 5px ;
            cursor: pointer;
            overflow: hidden;
        }
        
        .nav_tools>p:hover{
            width: 100%;
            height: 30px;
            display: flex;
            padding: 10px;
            border-radius: 5px;
            align-items: center;
            justify-content: center;
            background-color: #f8f9fa;
            color: #080f0f;
        }
        .nav_tools p:hover:before, .nav_tools p:hover:after{
            display: none;
        }
       
   #check:checked+label+.content{
          display: block; 
          z-index: 20;
        
    }
     #check:checked+label+.content>.nav_tools{
         position: fixed;
         top: 12vh;
         z-index: 20;
         
          

    }
     #check:checked+label{
        right: 20%;
     }
     #check:checked+label+.content+.nani{
        width: 100%;
        height:60vh;
        position: absolute;
        top: 40vh;
        background-color: transparent;
        z-index: 19;
     }
    
     .main>h1>span{
        font-size: 1rem;
        color: #ffffff;
        text-shadow: 2px 1px rgb(0, 0, 0);
    }
     .company_details{
        font-size: .78rem;
        
     }
   
    .company_details>.location{
        margin: 0px 0px 0px 80%;
        color: #000000;

           
     }
     .company_image{
        background-position: center;
     }
   
    
}
@media screen  and (min-width:426px) and (max-width:768px){
    .main{
        font-size:.65rem;
        background-position:center;
         justify-content: center;
         text-align: center;

     }
     .main>h1{
          font-size:.75rem;
     }
    .company_details>p{
     
       font-size: .80rem;
}
}
 
@media  screen and (min-width:1100px) {
   .tools>p{
        font-size: 1.3rem;
    }
}

@media screen  and (min-width: 426px) and (max-width: 1023px)  {
    .about{
        gap:20px;
        height: 500vh;
        font-size: .95rem;
        animation-timeline: view(); 
        animation-range: entry 0% cover 20%;
        
     }
    .company{
        flex-direction: column;
        height: 100vh;
        gap: 20px;
    }
     .company_details{
        width: 100%;
        height: 70vh;
        font-size: .95rem;
        display: flex;
        align-self: center;
        justify-content: center;
     }
    .company_details>.location{
        width: 30%;
        height: 30px;
        margin: 0px 0px 0px 50%;
        background-color:   #070707;

           
     }
    .company_image{
        width: 100%;
        height: 40vh;
        background-position: top ;
     }
    .service{
        height: 200vh;
        width: 100%;
    }
    .service_images{
        flex-direction: column;
        height: 150vh;
        justify-content: space-around;
        width: 100%;
    }
    .service_card{
        width: 100%;
        height: 40vh;
        gap: 20px;
    }
    .we{
        height: 200vh;
        width: 100%;
        /* background-color: #070707; */
        justify-content:flex-start;
    }
    .we>.matter{
        height: 20vh;
    }
    .we>.we_cards{
        flex-direction: column;
        width: 100%;
        height: 150vh;
        
        padding: 10px;
    }
    .we_cards>.we_1{
        width: 100%;
        height: 40vh;
    }
}


@media screen  and (min-width: 426px) and (max-width: 1023px) {
    .projects{
        height: 300vh;
        flex-direction: column;
        top: 600vh;
        justify-content: space-evenly;
       
        padding: 40px;
        animation-timeline: view(); 
       animation-range: entry 0% cover 30%;
    }
    .project_title{
             font-size: 1rem;
    }
    .cards{
        padding: 10px;
        height: 290vh;
        /* background-color: #ff0000; */
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    .card{
        background-color: transparent;
        width: 100%;
        height: 60vh;
        display: flex;
        justify-content: center;
        top:0px;
        align-items: flex-start;
        position: relative;
        left: 0px;
        color: #ffffff;
        border-radius: 10px;
       
        
    }
    .card:hover>h3{
        display: none;
       
    }
     .card>img{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        border-radius: 10px;
        z-index: 5;
       
    }
     .card>.matter{
        width: 50%;
        height: 40vh;
        font-size: 1rem;
        position: absolute;
        left: 0px;
        top:0px;
        align-items: center;
        justify-content: center;
        text-align: justify;
        z-index: 2;
        background-color: whitesmoke;
       
     }
     .card:hover>img{
          height: 100%;
          width: 50%;
          z-index: 5;
          right: 0px;
          border-radius: 10px 0px 0px 10px;
          
            
    }
     .card>img:hover{
        right: 0%;
       
     }
     .card:hover>h3{
         display: block;
         z-index: 200;
         top: 50%;
         left: 10%;
     }
    .card>img:hover+.matter{
       left: 50%;
       top: -20px;
       z-index: 2;
       border-radius: 0px 10px 10px 0px;
      
     
       
       
     }
      .card:hover>.matter{
       left: 50%;
       height: 100%;
        
        left: 50%;
        z-index: 2;
       background-color: #efeded;
        top: -20px;
        
     }
      .company_details>.locaton{
        width: 40%;
        
      }
      
     .explore{
        margin: 60px 0px 0px 0px;
        padding: 5px;
        width: 180px;
     }
    
     
}


@media screen  and (min-width:426px)  and (max-width:1023px ) {
    nav{
        background-color: #efeded;
        border-radius: 0px;
    }
    .nav_tools{
        background-color: #efeded;
    }
    .team{
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-content: space-around;
            gap: 10px;
            padding: 20px;
            height: 180vh;
            top:940vh;
            
           
    }
    .meet{
        text-align: justify;
        font-size: 1rem;
       
    }
    .photo_section{
        flex-direction: column;
         grid-template-columns: repeat(2,50%);
        grid-template-rows: repeat(2,70vh);
        animation: photoanime 2s ease-in-out;
        padding: 10px;
        font-size: .80rem;
    
    }
    @keyframes photoanime {
    0%{
        transform: translate(-50px,0px);
    }
    100%{
        transform: translate(0px,0px);
    }
    }
    .see{
        width: 180px;
        display: block;
        margin: 100px 0px 0px 0px;
       text-align: center;
       padding: 10px 0px 0px 0px;
       border-radius: 10px;
       transition: all 1s ease-in-out;
        transform: scale(1);
        font-size: 1rem;
        height: 40px;
       
    }
    .see:active{
        transform: scale(.65);
    }
    .photo{
        margin: 5px;
        background-position: top;
        
    }
    .photo5,.photo6{
        display: none;
    }
    .contact{
        top:1130vh;
        height: 100vh;
        font-size: 1.3rem;
        padding: 10px;
        animation-timeline: view(); 
       animation-range: entry 0% cover 1%;
    }
    
    
.inputs{
    width: 100%;
    height: 80vh;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.3rem;
   
}
.text_block{
    width: 100%;
    padding: 20px;
    gap: 10px;
    
    
}

.text{
    width: 100%;
    height: 50px;
    /* background-color: #1282a2; */
     justify-content: space-evenly;
   
}
.text>input{
    height: 40px;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
     border-style: none;
}
.email{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   /* background-color: #efeded; */
}
.email>input{
     height: 40px;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
     border-style: none;
}
.text_area{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #f8f9fa; */
    gap:0px;

}
.text_area>textarea{
    width: 80%;
    height: 80%;
    padding: 10px;

    border-radius: 10px;
     border-style: none;
}
input[type="submit"]{
    width: 20%;
    padding: 10px;
    margin:0px 0px 0px  20%;
    border-radius: 10px;
    border-style: none;
    transform: scale(1);
    transition: all .4s ease-in-out;
}
input[type="submit"]:a{
    transform: scale(.95);
    box-shadow: 1px 1px 2px;
    
}
.online{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;gap: 20px;
}
.online_icons{
    width: 40%;
    display: flex;
    font-size: 25px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    /* background-color: #efeded; */
}
.thank{
    height: 120px;
    animation: card 2s ease-in-out;
    animation-timeline: view(); 
    animation-range: entry 0% ;
    display: flex;
    align-items: center;
    justify-content: center;
}
}
@media screen and (max-width:425px){
    .name{
        margin: 0px 0px 0px 5px;
    }
    .main{text-align: center;}
   .main>h1{
        font-size: .70rem;
        padding: 10px;
    }
    .about{
        width: 100%;
        gap:20px;
        height: 500vh;
        /* font-size: .85rem; */
        animation-timeline: view(); 
        animation-range: entry 0% cover 1%;
        font-size: .80rem;
        padding: 8px;
        
     }
    .company{
        flex-direction: column;
        height: 100vh;
        gap: 20px;
        width: 100%;
        padding: 0px;
       
    }
     .company_details{
        width: 100%;
        height: 80vh;
        font-size: .80rem;
        display: flex;
        align-self: center;
        justify-content: center;
        
     }
     .company_details>p{
     
       font-size: .70rem;
}
    .company_details>.location{
        width: 25%;
        height: 20px;
        margin: 0px 0px 0px 60%;
        font-size: .90rem;
        background-color:   #070707;

           
     }
    .company_image{
        width: 100%;
        height: 40vh;
        background-position: top ;
     }
    .service{
        height: 200vh;
        width: 100%;
    }
    .service_images{
        flex-direction: column;
        height: 150vh;
        justify-content: space-around;
        width: 100%;
    }
    .service_card{
        width: 100%;
        height: 40vh;
        gap: 20px;
    }
    .we{
        height: 200vh;
        width: 100%;
        font-size: .80rem;
        /* background-color: #070707; */
        justify-content:flex-start;
    }
    .we>.matter{
        height: 20vh;
        
    }
    .we>.we_cards{
        flex-direction: column;
        width: 100%;
        height: 150vh;
        
        padding: 10px;
    }
    .we_cards>.we_1{
        width: 100%;
        height: 40vh;
        font-size: .70rem;
    }
    
}



@media screen and  (max-width: 425px){
           nav{
              background-color: #efeded;
              border-radius: 0px;
           }
           .nav_tools{
              background-color: #efeded;
           }
            .projects{
                top:600vh;
            }
            .project_title{
                    width: 100%;
                    gap: 10px;
                    font-size: .70rem;
            }
            .cards{
                width: 100%;
                height: 400vh;
                padding: 10px;
                position: relative;
                gap: 10px;
                /* background-color: #080f0f; */
                justify-content: space-around;

            }
            .card{
                width: 90%;
                height: 70vh;
                
            }
            .card1{
                position: absolute;
                left:5%;
                top:1vh;
                margin: 2px 0px 0px 0px;
            }
            .card2{
                position: absolute;
                left:5%;
                top: 75vh;
                
            }
            .card3{
                position: absolute;
                top:150vh;
                left:5%;
            }
            .card4{
                position: absolute;
                top:225vh;
                left:5%;
            }
            .card>h3{
                position: absolute;
                top: 20vh;
                display: none;
                color: rgb(255, 255, 255);
                text-shadow: 1px 2px  black;
                z-index: 100;
            }
            .card1>h3{
                left: 25%;
            }
            .card2>h3{
                left: 25%;
            }
            .card3>h3{
                left: 25%;
            }
            .card4>h3{
                left: 25%;
            }
            .card>.matter{
                width: 100%;
                height: 36vh;
                 font-size: .80rem;
                
            }
            .card>img{
                height: 100%;
                transition: all 1s ease-in-out;
                z-index: 3;
                border-radius: 10px 10px 10px 10px;
                
            }
            .card:hover>img{
            height: 65%;
            
            border-radius: 10px 10px 0px 0px;
                

            }
            .card:hover>.matter{
                display: block;
                top: 35vh;
                color: #000000;

                
            
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .card:hover{
                transform:translate(1px,0px);
                height: 70vh;
                background-position: center;
                
                
            }
            .card:hover>h3{
                display: block;
            }
            .explore{
                width: 150px;
                height: 40px;
                padding:5px;
                font-size: .90rem;
               
            }
            .explore:active{
                transform: scale(.65);
            }

}
@media screen and  (max-width:425px) {
    .team{
        
            flex-direction: column;
            justify-content:center;
            align-content: center;
            gap: 20px;
            padding: 20px;
            height: 280vh;
            top:948vh;
            font-size: .80rem;
            /* background-color: #ff0000; */
           
            
    }
    .meet{
        justify-content: center;
        text-align: center;
    }
    .photo_section{
       grid-template-columns: repeat(1,100%);
        /* background-color: #000000; */
        height:230vh;
        flex-direction: column;
        text-align: center;
        padding: 30px 5px 5px 5px;
    }
     .photo{
        animation-timeline: view(); 
       animation-range: entry 0% cover 1%;
       margin: 0px;
     }
    @keyframes photoanime {
    0%{
        transform: translate(0px,0px);
    }
    100%{
        transform: translate(0px,0px);
    }
}

    .photo4,.photo5,.photo6{
        display: none;
    }
    .photo{
        width: 100%;
        height: 65vh;
        background-position: top;
        
    }
    .company_details>.location{
        width: 36%;
    }
     .see{
            width: 150px;
            height: 35px;
            padding:5px;
            font-size: .90rem;
            display: block;
            margin: 6px 0px 0px 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            transition: all 1s ease-in-out;
               
    }
    .see:active{
        transform: scale(.65);
    }
    .contact{
        top:1220vh;
        height: 130vh;
        padding: 10px 0px 1px 0px;
        font-size: .95rem;
        flex-direction: column;
        justify-content: space-around;
        background-color: #000000;
        color: #f7f6f6;
    }
    .inputs{
        width: 100%;
        height: 80vh;
        padding: 5px;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        
        font-size: .95rem;
    
}
.text_block{
    width: 100%;
    padding: 2px;
    gap: 10px;
    
    
}

.text{
    width: 100%;
    height: 50px;
    /* background-color: #1282a2; */
     justify-content: space-between;
     /* background-color: #efeded; */
   
}
.text>input{
    height: 40px;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
     border-style: none;
     background-color: #f7f6f6;
     color: #000000;
}
.email{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   /* background-color: #efeded; */
}
.email>input{
     height: 40px;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
     border-style: none;
     background-color: #f7f6f6;
     color: #000000;
}
.text_area{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #f8f9fa; */
    gap: 4px;

}
.text_area>textarea{
    width: 80%;
    height: 80%;
    padding: 10px;

    border-radius: 10px;
     border-style: none;
     background-color: #f7f6f6;
     color: #000000;
}
input[type="submit"]{
    width: 30%;
    padding: 10px;
    margin:0px 0px 0px  20%;
    border-radius: 10px;
    border-style: none;
}
input[type="submit"]:hover{
    background-color: #7ad9f7;
    color: #ffffff;
    box-shadow: 0px 2px grey;
}
.online{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;gap: 20px;
}
.online_icons{
    width: 40%;
    display: flex;
    font-size: 25px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    /* background-color: #efeded; */
}
.thank{
    height: 120px;
    animation: card 2s ease-in-out;
    animation-timeline: view(); 
    animation-range: entry 0% ;
}
}
